* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.main {
    width: 800px;
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.list li {
    height: 140px;
    background-color: #eee;
    text-align: center;
    line-height: 140px;
    display: none;
}

button {
    margin: 30px;
}
