* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-weight: normal;
}

body {
    background-color: #ddd;
}

.side {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 32px;
    color: #666;
    transition: all 0.5s;
}

.active {
    right: 0;
}

.banner {
    height: 100px;
    background-color: #eee;
    line-height: 100px;
    margin: 10px 0;
    text-align: center;
}

ul {
    margin: 16px 0;
}

ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    text-align: center;
}

.btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    cursor: pointer;
}